*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

.cadastro1{
    display: flex;
    justify-content: center;
}
.cadastro2{ 
    background-color: rgb(236, 236, 236);
    color: red;
    border-radius: 12px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

input{
    background-color: aliceblue;
    border: solid rgb(209, 209, 209) 2px;
    border-radius: 5px;
    outline: none;  
    height: 16px;
    width: 200px;
    padding: 4px;
}

#date{
    width: auto;
}

input:focus{
    border: solid red 2px;
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    color: red;
    padding: 4px;
}

form{
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.border{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: red;
    height: 80px;
}

.lowborder{
    position: fixed;
    width: 100%;
    color: red;
    background-color: rgb(236, 236, 236);
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: end;
    padding-right: 100px;
    align-items: center;
}

.logo{
    height: 60px;
    padding: 20px;
}

.send{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    color: red;
    background-color: rgb(209, 209, 209);
    border: none;
    cursor: pointer;
    width: auto;
}
.send:hover{
    color:aliceblue;
    background-color: red;
    cursor: pointer;
}
.send:focus{
    border: none;
}
